<!--吹き出しはじまり-->
<div class="balloon5">
  <div class="faceicon">
    <% if comment.user.image.attached? %>
      <%= image_tag comment.user.image %>
    <% else %>
      <%= image_tag "no_image.png" %>
    <% end %>
  </div>
  <div class="chatting">
    <div class="says">
      <%= comment.comment %>
    </div>
  </div>
</div>
<!--吹き出し終わり-->