<div class="nested-fields">
  <div class="field mb-3">
    <%= f.text_field :body, placeholder: "作り方の手順", class: "form-control mb-1" %>
    <%= link_to_remove_association "削除", f, style: "color:red;" %>
  </div>
</div>