<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h2 class="mb-5 d-flex justify-content-center" style="color: #fff;">
      みんなの節約ごはん
    </h2>
    
    <%= link_to "投稿する", new_recipe_path %>
    
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-lg-4">
          <div class="card h-100">
            <%= image_tag 'no_image.png', class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= recipe.title %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>