<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
    
    <%= render partial: "form", locals: { recipe: @recipe } %>
    
    <div class="row links mb-5">
      <div class="col-md-8 offset-md-2">
        <%= link_to "< 戻る", recipes_path, class: "d-flex justify-content-center" %>
      </div>
    </div>
  </div>
</div>