<div class="row">
  <div class="col-10 offset-1">
    
    <div class="row d-flex justify-content-center mb-5">
      <div class="col-lg-2 btn rounded-pill top-guestlogin-btn m-1">
        <%= link_to recipes_path, style: "color:#fff;" do %>
          <i class="fa-solid fa-circle-plus"> レシピ一覧</i>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-lg-4 mb-5">
          <div class="card p-3">
            <div class="card-body">
              <h5 class="card-title"><%= user.name %></h5>
              <p>
                <%= user.introduction %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>