<div class="row d-flex justify-content-center mb-3">
 
 <%= render partial: "user_card", locals: { user: current_user } %>
 
</div>
<div class="col-lg-2 offset-lg-5 btn rounded-pill mb-4 d-flex justify-content-center btn-primary">
  <%= link_to edit_user_path(current_user), style: "color:#fff;" do %>
    <i class="fa-solid fa-pen-to-square"> 編集する</i>
  <% end %>
</div>
<div class="col-lg-2 offset-lg-5 btn rounded-pill mb-5 d-flex justify-content-center btn-primary">
  <%= link_to destroy_user_session_path, method: :delete, style: "color:red;" do %>
    <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
  <% end %>
</div>