<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-log-12">
      <%= image_tag ('節約ごはん.png') %>
    </div>
  </div>
</div>