<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <%= image_tag '節約ごはん.png' %>
    </div>
    <div class="col-lg-12 text-center">
      安く美味しく節約できる
    </div>
  </div>
</div>