@use '~bootstrap/scss/bootstrap';

.Notification {
 .notice {
   color: #fff;
   text-align: center;
 }
 .alert {
   color: #fff;
   text-align: center;
 }
}

.btn-primary {
  background-color: #f5e56b;
  color: #fff;
  border-color: #38b48b;
}
.btn-primary:hover {
  background-color: #38b48b;
  color: #fff;
  border-color: #38b48b;
}