@use '~bootstrap/scss/bootstrap';

.Notification {
 .notice {
   color: #fff;
   text-align: center;
 }
 .alert {
   color: #fff;
   text-align: center;
 }
}

// bootstrapのデザインを変更
.btn-primary {
  background-color: #f5e56b;
  color: #fff;
  border-color: #f5e56b;
}
.btn-primary:hover {
  background-color: #38b48b;
  color: #fff;
  border-color: #38b48b;
}

// topページのボタン
.top-login-btn {
  background-color: #fff;
}
.top-login-btn:hover {
}

.top-guestlogin-btn {
  background-color: #f5e56b;
}
.top-guestlogin-btn:hover {
  background-color: #38b48b;
  color: #fff;
}

// フォームの見出し
.form-title {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem 0;
  border-bottom: 5px solid;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.form-title:before {
    position: absolute;
    bottom: -0.6rem;
    left: 0rem;
    right: 0rem;
    border-bottom: 1px solid;
    content: '';
}