<div class="row mb-5">
  <div class="col-10 offset-1">

    <div class="row d-flex justify-content-center">
      <% @users.each do |user| %>
        <%= link_to admin_user_path(user) do %>
          <%= render partial: "users/user_card", locals: { user: user } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>