<footer>
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    	　<p>Copyright © sample All Rights Reserved.</p>
    	</div>
    </div>
  </div>
</footer>
<div class="col-lg-2 btn rounded-pill btn-primary m-1">
  <%= link_to destroy_user_session_path, method: :delete, style: "color:#fff;" do %>
    <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
  <% end %>
</div>