<nav class="navbar">
  <div class="">
    <%= link_to "節約ごはん", root_path, class: "navbar-brand" %>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
       <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
      <% end %>
    <% end %>
  </div>
</nav>